
@{
    ViewBag.Title = "Loại hợp đồng";
}

<h3 style="margin-left:10px">Loại hợp đồng</h3>


@Html.DevExpress().FormLayout(settings =>
{
    settings.Name = "ContractTypeFormLayout";
    settings.Items.Add(item =>
    {
        item.Caption = "Danh sách chức vụ";
        item.CaptionSettings.Location = LayoutItemCaptionLocation.Top;
        item.SetNestedContent(() =>
        {
            ViewContext.Writer.Write(Html.Action("ContractTypeGridViewPartial", "General"));
        });
    });
}).GetHtml()